/* ==UserStyle==
@name         Dark Pastel SearX
@version      20211002.20.27
@namespace    userstyles.world/user/rad1an
@description  Dark pastel SearX style
@author       rad1an
@license      GNU Affero General Public License v3.0
==/UserStyle== */

@-moz-document url-prefix("https://searx.bar/search"), url-prefix("https://northboot.xyz/search"), url-prefix("https://searx.silkky.cloud/search"), url-prefix("https://searx.bissisoft.com/search"), url-prefix("https://searx.webheberg.info/search"), url-prefix("https://searx.tux.land/search"), url-prefix("https://search.mdosch.de/search"), url-prefix("https://searx.nevrlands.de/search"), url-prefix("https://searx.divided-by-zero.eu/search"), url-prefix("https://searx.rasp.fr/search"), url-prefix("https://searx.zackptg5.com/search"), url-prefix("https://searx.info/search"), url-prefix("https://metasearch.nl/search"), url-prefix("https://www.gruble.de/search"), url-prefix("https://searx.xyz/search"), url-prefix("https://procurx.pt/search"), url-prefix("https://searx.hummel-web.at/search"), url-prefix("https://start.paulgo.io/search"), url-prefix("https://searx.be/search"), url-prefix("https://searx.tiekoetter.com/search"), url-prefix("https://anon.sx/search"), url-prefix("https://sx.fedi.tech/searx/search"), url-prefix("https://searx.fmac.xyz/search"), url-prefix("https://s.zhaocloud.net/search"), url-prefix("https://swag.pw/search"), url-prefix("https://searx.prvcy.eu/search"), url-prefix("https://searx.tuxcloud.net/search"), url-prefix("https://xeek.com/search"), url-prefix("https://searx.sp-codes.de/search"), url-prefix("https://search.bluelock.org/search"), url-prefix("https://searx.mha.fi/search"), url-prefix("https://searx.sunless.cloud/search"), url-prefix("https://search.snopyta.org/search"), url-prefix("https://searx.roflcopter.fr/search"), url-prefix("https://searx.zecircle.xyz/search"), url-prefix("https://searx.mastodontech.de/search"), url-prefix("https://searx.dresden.network/search"), url-prefix("https://searx.netzspielplatz.de/search"), url-prefix("https://darmarit.org/searx/search"), url-prefix("https://searx.vitanetworks.link/search"), url-prefix("https://searx.solusar.de/search"), url-prefix("https://recherche.catmargue.org/search"), url-prefix("https://searx.devol.it/search"), url-prefix("https://searx.run/search"), url-prefix("https://searx.nakhan.net/search"), url-prefix("https://searx.sk/search"), url-prefix("https://searx.gnu.style/search"), url-prefix("https://searx.openhoofd.nl/search"), url-prefix("https://searx.tk/search"), url-prefix("https://searx.lelux.fi/search"), url-prefix("https://haku.lelux.fi/search"), url-prefix("https://suche.dasnetzundich.de/search"), url-prefix("https://searx.mxchange.org/search"), url-prefix("https://search.antonkling.se/search"), url-prefix("https://search.jpope.org/search"), url-prefix("https://search.ethibox.fr/search"), url-prefix("https://searx.org/search"), url-prefix("https://timdor.noip.me/searx/search"), url-prefix("https://searx.monicz.pl/search"), url-prefix("https://searx.xkek.net/search"), url-prefix("https://searx.ru/search"), url-prefix("https://searx.nixnet.services/search"), url-prefix("https://search.zdechov.net/search"), url-prefix("https://searx.tyil.nl/search"), url-prefix("https://www.searxs.eu/search"), url-prefix("https://searx.ninja/search"), url-prefix("https://searx.everdot.org/search"), url-prefix("https://search.st8.at/search"), url-prefix("https://searx.hardwired.link/search"), url-prefix("https://searx.thegreenwebfoundation.org/search"), url-prefix("https://searx.slash-dev.de/search"), url-prefix("https://search.jigsaw-security.com/search"), url-prefix("https://www.perfectpixel.de/searx/search") {
    *,
    *:hover,
    html,
    html:hover {
        background-color: #302e2f !important;
    }

    body {
        color: #aaa;
    }
    
    .result_header a {
        color: #8393d2;
    }

    .result-content,
    .result-format,
    .result-source {
        color: #9c8083
    }

    .container {
        width: 75%;
        margin-top: 2%;
        margin-left: 10%;
    }

    .container * {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom: none !important;
    }

    .container p {
        font-size: 16px;
    }

    .searx-navbar .pull-right, .searxng-navbar .pull-right {
        position: fixed;
        top: 1rem;
        right: .5rem;
        font-size: 18px !important;
        padding-bottom: 1rem;
        background-size: contain;
        padding-left: 0;
    }
    
    a[href$="/preferences"] {
        visibility: hidden;
    }
    
    .instance.pull-left a {
        visibility: hidden;
    }

    a[href$="/preferences"]:after {
        visibility: visible;
        content: "⚙️";
    }
    
    .instance.pull-left a:after {
        visibility: visible;
        content: "⚫";
        float: left;
    }
    
    .searx-navbar a[href$="/donate"], .searx-navbar a[href$="/about"], .searxng-navbar a[href$="/about"], .searxng-navbar a[href$="/donate"] {
        display: none;
    }

    .searx-navbar a,
    .searx-navbar a:hover,
    .searxng-navbar a,
    .searxng-navbar a:hover {
        margin-right: 0;
        overflow: hidden;
        padding-bottom: 1rem;
    }

    #categories label, .col-xs-6 select, .col-xs-6 label {
        cursor: pointer;
    }
    
    #categories,
    .search_categories {
        margin-right: 40%;
    }

    #categories input[type="checkbox"] + label,
    .search_categories input[type="checkbox"] + label {
        font-size: 14px !important;
        margin: 0 0 0 0;
    }

    #categories input[type="checkbox"]:checked + label,
    .search_categories input[type="checkbox"]:checked + label {
        border-bottom: 2px solid !important;
        border-radius: 0 !important;
        color: #8393d2;
    }

    .form-control {
        height: 4rem;
    }

    .input-group-btn * {
        color: #999 !important;
    }

    .col-xs-12 * {
        background-color: #424244 !important;
        color: #fff;
    }

    .col-xs-12 #q {
        margin-top: .4rem;
        font-size: 16px;
    }

    .btn {
        font-size: 16px !important;
        line-height: .8;
    }

    #main_results {
        width: 55%;
        right: 40%;
        margin-top: 5rem;
    }

    #main_results p,
    .external-link {
        font-size: 14px;
    }

    #sidebar_results {
        width: 40%;
        left: 60%;
    }

    #sidebar_results img {
        display: block;
        float: right;
        max-width: 50%;
        min-width: 160px;
        padding: 2rem;
    }

    #sidebar_results * {
        color: #bdc1c6;
    }

    .external-link {
        color: #ccc;
    }
    
    .btn-default {
        color: inherit;
    }
    
    .btn-default:hover {
        color: #ccc;
    }

    .btn-default.focus, .btn-default:focus, .btn-default.active, .btn-default:active, .btn-default:active:hover {
        color: inherit;
    }
    
    .btn.active, .btn:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .form-control.tt-hint {
        z-index: auto;
    }

    .input-group .form-control:focus {
        z-index: auto;
    }
    
    .custom-select, .custom-select-rtl {
        appearance: auto;
        -moz-appearence: auto;
        -webkit-appearence: auto;
        background: none;
    }
    
    .form-control {
        -webkit-box-shadow: none;
    }
    
    .pull-right small {
        display: none;
    }

    .tt-cursor {
        background-color: #3a393b !important;
        color: #fff !important;
    }

    .tt-dropdown-menu .tt-suggestion {
        color: #fff;
    }

    .result_header {
        font-size: 18px;
    }

    .infobox .btn {
        background-color: transparent;
    }

    .panel-default {
        display: none;
    }

    .infobox {
        display: block;
        }

    .clearfix form * {
        margin-top: .4rem;
        color: #aaa !important;
    }

    #categories input[type="checkbox"]:checked + label, .search_categories input[type="checkbox"]:checked + label{
        color: #8393d2;
    }

    .custom-select, .custom-select-rtl {
        color: #aaa;
    }
    
    #advanced-search-container .input-group-addon, #advanced-search-container label {
        color: #aaa;
    }
    
    @media screen and (max-width: 1200px) and (min-width: 991px) {
        .container {
            width: 95%;
            margin-top: 2rem;
            margin-left: 2%;
        }
        
        #categories,
        .search_categories {
            margin-right: 40%;
        }
        
        #main_results {
            width: 60%;
            right: 40%;
            margin-top: 4rem;
        }
        
        #sidebar_results {
            width: 40%;
            right: 0%;
        }
        
        #sidebar_results img {
            display: none;
        }
    }
    @media screen and (max-width: 991px){
        .container {
            width: 95%;
            margin-top: 2rem;
            margin-left: 2%;
        }
        
        #categories,
        .search_categories {
            margin-right: 0;
            margin-left: 0;
        }
        
        #main_results {
            width: 100%;
            right: 0%;
            margin-top: 6rem;
        }
        
        #sidebar_results {
            display: none;
        }
        
        .col-xs-6 {
            left: 18%;
            width: 30%;
            margin-top: 8rem;
            margin-bottom: -10rem;
        }
        
        .searx-navbar .pull-right, .searxng-navbar .pull-right {
            position: initial;
            margin-top: .5rem;
        }
    }
    
    @media screen and (max-width: 556px) {
        .col-xs-6 {
            left: 8%;
            width: 40%;
            margin-top: 8rem;
            margin-bottom: -10rem;
        }
    }
}

@-moz-document url("https://searx.bar/"), url("https://northboot.xyz/"), url("https://searx.silkky.cloud/"), url("https://searx.bissisoft.com/"), url("https://searx.webheberg.info/"), url("https://searx.tux.land/"), url("https://search.mdosch.de/"), url("https://searx.nevrlands.de/"), url("https://searx.divided-by-zero.eu/"), url("https://searx.rasp.fr/"), url("https://searx.zackptg5.com/"), url("https://searx.info/"), url("https://metasearch.nl/"), url("https://www.gruble.de/"), url("https://searx.xyz/"), url("https://procurx.pt/"), url("https://searx.hummel-web.at/"), url("https://start.paulgo.io/"), url("https://searx.be/"), url("https://searx.tiekoetter.com/"), url("https://anon.sx/"), url("https://sx.fedi.tech/"), url("https://searx.fmac.xyz/"), url("https://s.zhaocloud.net/"), url("https://swag.pw/"), url("https://searx.prvcy.eu/"), url("https://searx.tuxcloud.net/"), url("https://xeek.com/"), url("https://searx.sp-codes.de/"), url("https://search.bluelock.org/"), url("https://searx.mha.fi/"), url("https://searx.sunless.cloud/"), url("https://search.snopyta.org/"), url("https://searx.roflcopter.fr/"), url("https://searx.zecircle.xyz/"), url("https://searx.mastodontech.de/"), url("https://searx.dresden.network/"), url("https://searx.netzspielplatz.de/"), url("https://darmarit.org/searx/"), url("https://searx.vitanetworks.link/"), url("https://searx.solusar.de/"), url("https://recherche.catmargue.org/"), url("https://searx.devol.it/"), url("https://searx.run/"), url("https://searx.nakhan.net/"), url("https://searx.sk/"), url("https://searx.gnu.style/"), url("https://searx.openhoofd.nl/"), url("https://searx.tk/"), url("https://searx.lelux.fi/"), url("https://haku.lelux.fi/"), url("https://suche.dasnetzundich.de/"), url("https://searx.mxchange.org/"), url("https://search.antonkling.se/"), url("https://search.jpope.org/"), url("https://search.ethibox.fr/"), url("https://searx.org/"), url("https://timdor.noip.me/searx/"), url("https://searx.monicz.pl/"), url("https://searx.xkek.net/"), url("https://searx.ru/"), url("https://searx.nixnet.services/"), url("https://search.zdechov.net/"), url("https://searx.tyil.nl/"), url("https://www.searxs.eu/"), url("https://searx.ninja/"), url("https://searx.everdot.org/"), url("https://search.st8.at/"), url("https://searx.hardwired.link/"), url("https://searx.thegreenwebfoundation.org/"), url("https://searx.slash-dev.de/"), url("https://search.jigsaw-security.com/"), url("https://www.perfectpixel.de/searx/") {
    *,
    *:hover,
    html,
    html:hover {
        color: #ccc;
        background-color: #302e2f !important;
    }

    .container * {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom: none !important;
    }

    .result-content,
    .result-format,
    .result-source {
        color: #9c8083
    }

    .tt-dropdown-menu .tt-suggestion {
        color: #fff;
    }

    .tt-suggestion.tt-cursor, .tt-cursor {
        background-color: #3a393b !important;
        color: #fff !important;
    }
    
    .searx-navbar .pull-right, .searxng-navbar .pull-right {
        position: fixed;
        top: .5rem;
        right: .5rem;
        font-size: 18px !important;
        padding-bottom: 1rem;
        background-size: contain;
        padding-left: 0;
    }
    
    a[href$="/preferences"] {
        visibility: hidden;
    }
    
    .instance.pull-left a {
        visibility: hidden;
    }

    a[href$="/preferences"]:after {
        visibility: visible;
        content: "⚙️";
    }
    
    .instance.pull-left a:after {
        visibility: visible;
        content: "⚫";
        float: left;
    }
    
    .searx-navbar a[href$="/donate"], .searx-navbar a[href$="/about"], .searxng-navbar a[href$="/about"], .searxng-navbar a[href$="/donate"] {
        display: none;
    }

    .searx-navbar a,
    .searx-navbar a:hover,
    .searxng-navbar a,
    .searxng-navbar a:hover {
        margin-right: 0;
        overflow: hidden;
        padding-bottom: 1rem;
    }

    .input-group * {
        background-color: #424244 !important;
        color: #fff;
    }
    
    .btn-default {
        color: inherit;
    }
    
    .btn-default:hover {
        color: #ccc;
    }
    
    .btn-default.focus, .btn-default:focus, .btn-default.active, .btn-default:active, .btn-default:active:hover {
        color: inherit;
    }
    
    .btn.active, .btn:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .form-control.tt-hint {
        z-index: auto;
    }

    .input-group .form-control:focus {
        z-index: auto;
    }
    
    .custom-select, .custom-select-rtl {
        appearance: auto;
        -moz-appearence: auto;
        -webkit-appearence: auto;
        background: none;
    }
    
    .form-control {
        -webkit-box-shadow: none;
    }

    .input-group-btn * {
        margin-left: 0;
        color: #999 !important;
    }
    
    #categories input[type="checkbox"]:checked + label, .search_categories input[type="checkbox"]:checked + label{
        color: #99d;
    }

    .custom-select, .custom-select-rtl {
        color: #aaa;
    }
    
    #advanced-search-container .input-group-addon, #advanced-search-container label {
        color: #aaa;
    }
}

@-moz-document url-prefix("https://searx.bar/preferences"), url-prefix("https://northboot.xyz/preferences"), url-prefix("https://searx.silkky.cloud/preferences"), url-prefix("https://searx.bissisoft.com/preferences"), url-prefix("https://searx.webheberg.info/preferences"), url-prefix("https://searx.tux.land/preferences"), url-prefix("https://search.mdosch.de/preferences"), url-prefix("https://searx.nevrlands.de/preferences"), url-prefix("https://searx.divided-by-zero.eu/preferences"), url-prefix("https://searx.rasp.fr/preferences"), url-prefix("https://searx.zackptg5.com/preferences"), url-prefix("https://searx.info/preferences"), url-prefix("https://metasearch.nl/preferences"), url-prefix("https://www.gruble.de/preferences"), url-prefix("https://searx.xyz/preferences"), url-prefix("https://procurx.pt/preferences"), url-prefix("https://searx.hummel-web.at/preferences"), url-prefix("https://start.paulgo.io/preferences"), url-prefix("https://searx.be/preferences"), url-prefix("https://searx.tiekoetter.com/preferences"), url-prefix("https://anon.sx/preferences"), url-prefix("https://sx.fedi.tech/searx/preferences"), url-prefix("https://searx.fmac.xyz/preferences"), url-prefix("https://s.zhaocloud.net/preferences"), url-prefix("https://swag.pw/preferences"), url-prefix("https://searx.prvcy.eu/preferences"), url-prefix("https://searx.tuxcloud.net/preferences"), url-prefix("https://xeek.com/preferences"), url-prefix("https://searx.sp-codes.de/preferences"), url-prefix("https://search.bluelock.org/preferences"), url-prefix("https://searx.mha.fi/preferences"), url-prefix("https://searx.sunless.cloud/preferences"), url-prefix("https://search.snopyta.org/preferences"), url-prefix("https://searx.roflcopter.fr/preferences"), url-prefix("https://searx.zecircle.xyz/preferences"), url-prefix("https://searx.mastodontech.de/preferences"), url-prefix("https://searx.dresden.network/preferences"), url-prefix("https://searx.netzspielplatz.de/preferences"), url-prefix("https://darmarit.org/searx/preferences"), url-prefix("https://searx.vitanetworks.link/preferences"), url-prefix("https://searx.solusar.de/preferences"), url-prefix("https://recherche.catmargue.org/preferences"), url-prefix("https://searx.devol.it/preferences"), url-prefix("https://searx.run/preferences"), url-prefix("https://searx.nakhan.net/preferences"), url-prefix("https://searx.sk/preferences"), url-prefix("https://searx.gnu.style/preferences"), url-prefix("https://searx.openhoofd.nl/preferences"), url-prefix("https://searx.tk/preferences"), url-prefix("https://searx.lelux.fi/preferences"), url-prefix("https://haku.lelux.fi/preferences"), url-prefix("https://suche.dasnetzundich.de/preferences"), url-prefix("https://searx.mxchange.org/preferences"), url-prefix("https://search.antonkling.se/preferences"), url-prefix("https://search.jpope.org/preferences"), url-prefix("https://search.ethibox.fr/preferences"), url-prefix("https://searx.org/preferences"), url-prefix("https://timdor.noip.me/searx/preferences"), url-prefix("https://searx.monicz.pl/preferences"), url-prefix("https://searx.xkek.net/preferences"), url-prefix("https://searx.ru/preferences"), url-prefix("https://searx.nixnet.services/preferences"), url-prefix("https://search.zdechov.net/preferences"), url-prefix("https://searx.tyil.nl/preferences"), url-prefix("https://www.searxs.eu/preferences"), url-prefix("https://searx.ninja/preferences"), url-prefix("https://searx.everdot.org/preferences"), url-prefix("https://search.st8.at/preferences"), url-prefix("https://searx.hardwired.link/preferences"), url-prefix("https://searx.thegreenwebfoundation.org/preferences"), url-prefix("https://searx.slash-dev.de/preferences"), url-prefix("https://search.jigsaw-security.com/preferences"), url-prefix("https://www.perfectpixel.de/searx/preferences") {
    *, html {
        background-color: #302e2f !important;
        color: #aaa;
    }

    .container * {
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom: none !important;
    }
    
    .searx-navbar .pull-right, .searxng-navbar .pull-right {
        position: fixed;
        top: .5rem;
        right: .5rem;
        font-size: 18px !important;
        padding-bottom: 1rem;
        background-size: contain;
        padding-left: 0;
    }
    
    a[href$="/preferences"] {
        visibility: hidden;
    }
    
    .instance.pull-left a {
        visibility: hidden;
    }

    a[href$="/preferences"]:after {
        visibility: visible;
        content: "⚙️";
    }
    
    .instance.pull-left a:after {
        visibility: visible;
        content: "⚫";
        float: left;
    }
    
    .searx-navbar a[href$="/donate"], .searx-navbar a[href$="/about"], .searxng-navbar a[href$="/about"], .searxng-navbar a[href$="/donate"] {
        display: none;
    }

    .searx-navbar a,
    .searx-navbar a:hover,
    .searxng-navbar a,
    .searxng-navbar a:hover {
        margin-right: 0;
        overflow: hidden;
        padding-bottom: 1rem;
    }

    ul * {
        color: #8393d2 !important;
    }

    ul .active *, #categories input[type="checkbox"]:checked + label {
        color: #a3b3ff !important;
    }
    
    #categories label, .custom-select, .custom-select-rtl {
        color: inherit;
        cursor: pointer;
    }

    #allow-all-engines, .btn-primary {
        color: #7a7 !important;
    }

    .tab-pane a *, .tab-pane a *:hover {
        color: #777;
    }
    
    .btn-default {
        color: inherit;
    }
    
    .btn-default:hover {
        color: #ccc;
    }
    
    .btn-default.focus, .btn-default:focus, .btn-default.active, .btn-default:active, .btn-default:active:hover {
        color: inherit;
    }
    
    .btn.active, .btn:active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .form-control.tt-hint {
        z-index: auto;
    }

    .input-group .form-control:focus {
        z-index: auto;
    }
    
    .custom-select, .custom-select-rtl {
        appearance: auto;
        -moz-appearence: auto;
        -webkit-appearence: auto;
        background: none;
    }
    
    .form-control {
        -webkit-box-shadow: none;
    }

    #disable-all-engines {
        color: #a77;
    }

    .onoffswitch-inner::before, .onoffswitch-inner::after {
        filter: invert(100%) !important;
        opacity: 0.5 !important;
        background-color: #cca !important;
    }

    .onoffswitch-switch {
        opacity: 0.5 !important;
        background-color: #99b !important;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        background-color: #888 !important;
    }

    .panel-default > .panel-heading {
        color: inherit;
    }
    
    @media screen and (max-width: 991px){
        .searx-navbar .pull-right, .searxng-navbar .pull-right {
            position: initial;
            margin-top: .5rem;
        }
    }
}
